<div class="span10 offset1">
    <div class="row-fluid">
        <div class="span6 offset2">
            <p>Titre: </p><input type="text" name="titleProject" id="titleProject" size="150"/>
        </div>

    </div>
    <div class="row-fluid">
        <div class="span8 offset2">
            <p>Description : </p><textarea cols="300" rows="3"></textarea>
        </div>

    </div>
</div>