<div class="row" id="Presentation">
    <div class="span12">
        <span id="responsiveFlag" ></span>
        <div class="block-slogan">
            <h2>Activity</h2>
            <div id="otherInfos">
                <p class="nameHeaderHome">
                    0 action today
                </p>
                <p class="projectHeaderHome pull-left" >
                    Newest announce : <a class="linkBlack" style="font-size: 16px;" href="">Nouvelle activité dans le secteur truc</a>
                </p>
                <div style="clear: both"></div>
                <p class="pull-left">Engaged in <span style="padding-left: 0px;padding-right: 0px;" class="colorNumberHeader">250</span> tickets not closed yet</p>
            </div>
        </div>
    </div>
</div>