<div class="row" id="Presentation">
    <div class="span12">
        <span id="responsiveFlag" ></span>
        <div class="block-slogan">
            <h2>Dashboard</h2>
            <div id="otherInfos">
                <p class="nameHeaderHome" style="color:#a0a0a0;">
                    Project Sefiolsjef
                </p>
                <p class="projectHeaderHome">
                    Dsoiefiej hs ef ew iwjsp fjpo opwsj fojwso fjosjefow fjwsp fosj eojws fws ef..Dsoiefiej hs ef ew iwjsp fjpo opwsj fojwso fjosjefow fjwsp fosj eojws fws ef..Dsoiefiej hs ef ew iwjsp fjpo opwsj fojwso fjosjefow fjwsp fosj eojws fws ef..
                </p>
                <ul class="tasksHeaderHome">
                    <li>Administrators : <a class="linkBlack" href="/">AlexKtf</a>, <a class="linkBlack" href="/">sefsejf</a>, <a class="linkBlack" href="/">SouleyD</a></li>
                    <li>Creation : 19/01/1933</li>
                    <li>Expected end : 19/05/1995 </li>
                    <li>Members : 45</li>
                </ul>
                <div style="clear: both"></div>
            </div>
        </div>
    </div>
</div>