<div class="row" id="Presentation">
    <div class="span12">
        <span id="responsiveFlag" ></span>
        <div class="block-slogan">
            <h2>Home</h2>
            <div id="otherInfos">
                <p class="nameHeaderHome">
                    {{ User.user_login }}
                </p>
                <p class="projectHeaderHome pull-left">
                    <span class="numberProjectHeaderHome" style="padding-left: 0px;padding-right: 10px;">0</span> created project
                </p>
                <p class="projectHeaderHome pull-left" style="border-left: none">
                    <span class="numberProjectHeaderHome" style="padding-left: 0px;padding-right: 10px;">0</span> affiliated project
                </p>
                <div style="clear: both"></div>
                <ul class="tasksHeaderHome">
                    <li>All my tasks : </li>
                    <li><img src="/img/assigned.png" title="Assigned" alt="Assigned">  10</li>
                    <li><img src="/img/working.png" title="In Progress" alt="In Progress">  52</li>
                    <li><img src="/img/check.png" title="Resolved" alt="Resolved">  2</li>
                    <li><img src="/img/closed.png" title="Closed" alt="Closed">  5</li>
                    <li><img src="/img/cancel.png" title="Canceled" alt="Canceled">  25</li>
                </ul>
            </div>
        </div>
    </div>
</div>