<div class="row" id="Presentation">
    <div class="span12">
        <span id="responsiveFlag" ></span>
        <div class="block-slogan">
            <h2>Organization</h2>
            <div id="otherInfos">
                <p class="nameHeaderHome">
                    2 roadmaps
                </p>
                <p class="projectHeaderHome pull-left">
                    Biggest : Deuxième version
                </p>
                <p class="projectHeaderHome pull-left" style="border-left: none">
                    Most recent : Deuxième version
                </p>
                <p class="projectHeaderHome pull-left" style="border-left: none">
                    Most urgent : Première version
                </p>
                <div style="clear: both"></div>
                <ul class="tasksHeaderHome">
                </ul>
            </div>
        </div>
    </div>
</div>