<div class="row" id="Presentation">
    <div class="span12">
        <span id="responsiveFlag" ></span>
        <div class="block-slogan">
            <h2>Organization</h2>
            <div id="otherInfos">
                <p class="nameHeaderHome">
                    {{ infosHeader.nb_members_project }} Members
                </p>
                <p class="projectHeaderHome pull-left">
                    {{ infosHeader.nb_announces }} Announces
                </p>
                <p class="projectHeaderHome pull-left" style="border-left: none">
                    {{ infosHeader.nb_roadmaps }} Roadmaps
                </p>
                <div style="clear: both"></div>
                <ul class="tasksHeaderHome">
                    <li>Last announce : {{ infosHeader.last_announce | capitalize }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>