<div class="row" id="Presentation">
    <div class="span12">
        <span id="responsiveFlag" ></span>
        <div class="block-slogan">
            <h2>Tickets</h2>
            <div id="otherInfos">
                <p class="nameHeaderHome">
                    <span class="colorNumberHeader" >256</span> tickets
                </p>
                <p class="projectHeaderHome pull-left">
                    <span class="numberProjectHeaderHome">10</span> assigned
                </p>
                <p class="projectHeaderHome pull-left" style="border-left: none">
                    <span class="numberProjectHeaderHome">14</span> In progress
                </p>
                <p class="projectHeaderHome pull-left" style="border-left: none">
                    <span class="numberProjectHeaderHome">14</span> Resolved
                </p>
                <p class="projectHeaderHome pull-left" style="border-left: none">
                    <span class="numberProjectHeaderHome" >14</span> Closed
                </p>
                <p class="projectHeaderHome pull-left" style="border-left: none">
                    <span class="numberProjectHeaderHome" >14</span> Canceled
                </p>
                <div style="clear: both"></div>
                <ul class="tasksHeaderHome pull-left" style="padding-bottom: 10px">
                    <li>Evolution : <span class="colorNumberHeader" >12</span></li>
                    <li>Bug : <span class="colorNumberHeader" >12</span></li>
                    <li>Assistance : <span class="colorNumberHeader" >12</span></li>
                </ul>
                <p class="progressHeaderHome pull-left"  style="margin-left:200px;padding-top: 3px;border-left: none">Progress : <span class="colorNumberHeader" >25%</span></p>
                <div style="clear: both"></div>
            </div>
        </div>
    </div>
</div>