{% block header %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />

    <title>Project Manager</title>

    <link type="text/css" rel="stylesheet" href="/css/bootstrap/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="/css/bootstrap/responsive.css">
    <link rel="stylesheet" type="text/css" href="/css/original-style.css" >
    <link rel="stylesheet" type="text/css" href="/css/styles.css" >

    <script type="text/javascript" src="/js/jquery/jquery.js"></script>
    <script type="text/javascript" src="/js/jquery/jquery.cookie.js" ></script>
    <script type="text/javascript" src="/js/jquery/jquery.easing.1.3.js" ></script>
    <script type="text/javascript" src="/js/jquery/jquery-validate.min.js" ></script>
    <script type="text/javascript" src="/js/jquery/jquery.dataTables.min.js" ></script>
    <script type="text/javascript" src="/js/bootstrap/bootstrap.js"></script>
    <script type="text/javascript" src="/js/bootstrap/bootstrap-dropdown.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Jockey+One' rel='stylesheet' type='text/css'>

    <script type="text/javascript" language="javascript" src="/js/master.js" ></script>

    <script type="text/javascript" language="javascript" src="/js/toolBar/toolBar.js" ></script>
    <script type="text/javascript" language="javascript" src="/js/toolBar/toolBarController.js" ></script>


</head>

{% endblock %}
<body>
<div id="modalHeader"></div>
<header>
    <div id="panel">
        <div class="navbar navbar-inverse navbar-fixed-top" id="advanced">
            <span class="trigger"><strong></strong><em></em></span>
            <div class="navbar-inner" style="padding-left: 30px">
                <button type="button" class="btn btn-navbar " data-toggle="collapse" data-target=".nav-top-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                <a class="brand" href="/">ProjectManager</a>
                <div class="nav-collapse collapse nav-top-collapse">
                    <ul id ="toolBar" class="nav">
                        <li class="home"><a href="/"><img src="/img/tm_home.png"></a></li>
                        <li class="divider-vertical"></li>
                        <li>
                            <div class=" headerAdminBlock">
                                <a href="#Actions" id="HeaderAction" onclick="javascript:toolBarController(this.id,{% if homeContext == true %}true{% else %}false{% endif %});" class="pull-left headerAdminButton" >+</a>
                                <div class=" pull-left headerAdminLinks" >
                                    {% if homeContext == true %}
                                    <a id="addProjectLink" class="linkBlack pull-left" data-toggle="modal" href="#add-project" onclick="javascript:toolBarLinks(this.id);">Project</a>
                                    {% else %}
                                    <a id="addTicketLink" class="linkBlack pull-left" data-toggle="modal" href="#add-ticket" onclick="javascript:toolBarLinks(this.id);">Ticket</a>
                                    <a id="addRoadmapLink" class="linkBlack pull-left" data-toggle="modal" href="#add-roadmap" onclick="javascript:toolBarLinks(this.id);">Roadmap</a>
                                    <a id="addAnnounceLink" class="linkBlack pull-left" data-toggle="modal" href="#add-announce" onclick="javascript:toolBarLinks(this.id);">Announce</a>
                                    <a id="addMemberLink" class="linkBlack pull-left" data-toggle="modal" href="#add-member" onclick="javascript:toolBarLinks(this.id);">Member</a>
                                    {% endif %}
                                </div>
                             </div>
                        </li>
                        <li>
                            <div id="HeaderSearchBlock" class=" headerAdminBlock">
                                <a href="#Actions" id="HeaderSearch" class="pull-left headerAdminButton" >+</a>
                                <form id="headerSearchBar" class="navbar-search pull-left">
                                    <input type="text" class="search-query" placeholder="Search">
                                </form>
                            </div>
                        </li>
                        <li class="divider-vertical"></li>
                    </ul>
                    <ul id="linkParams" class=" nav pull-right">
                        <li><div class="dropdown">
                                <a class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown" data-target="#" >
                                    Params <i class="icon-cog"></i>
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                    <a href="/my-account">My acount</a>
                                    <a href="/my-account">Settings</a>
                                    <a href="/Deconnexion">Deconnexion</a>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="bg-content">
    <div class="container">
        {% include header with {'header' : header } %}
    </div>
    {%  if subMenu == false %}
    <div class="row-fluid" id="subMenuBar">
        <div class="container">
            <div class="span7 offset3">
                <div id="sub-menu">
                    <ul >
                        <li {% if subMenuCurrent == 'dashboard' %}class="current" {% endif %} id="DashboardSubMenu"><a href="/project/1">Dashboard</a></li>
                        <li {% if subMenuCurrent == 'tickets' %}class="current" {% endif %} id="TicketSubMenu"><a href="/project/1/tickets">Tickets</a></li>
                        <li {% if subMenuCurrent == 'activity' %}class="current" {% endif %} id="ActivitySubMenu"><a href="/project/1/activity">Activity</a></li>
                        <li {% if subMenuCurrent == 'roadmaps' %}class="current" {% endif %} id="RoadmapSubMenu"><a href="/project/1/roadmaps">Roadmaps</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {%  endif %}

    <div id="content" class="content-extra">
        <div class="row-1">

            <div class="container">
                <div class="span12">
                    {% include '/ariane/ariane.html.twig' with {'params' : paramsAriane }%}
                </div>
                {% block content %}


                {% endblock %}
            </div>
        </div>
    </div>

    {% block footer %}
    <footer>
        <div class="container clearfix">
            <div class="row">
                <article class="span10">
                    <h3>Shortly about us</h3>
                    <div class="wrapper">
                        <div class="inner-1 extra">
                            <p>Students at Sup'internet, Kremlin-Bicêtre France.<br />This website is a school project.<br /> QM let you manage your project. </p>
                            <div class="txt-1">
                                <ul>
                                    <li>Souleymane Diallo</li>
                                    <li>Stéphane Aboulaghras</li>
                                    <li>Alexandre François</li>
                                    <li>Nils</li>
                                    <li>Alexandre Ktifa</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </footer>
</div>
{% endblock %}
</body>
</html>
