<!-- first modal window -->
<header class="modal-header">
    <a href="#" class="close" data-dismiss="modal">x</a>
    <h6>Add a Member</h6>
</header>

<div class="modal-body">
    <form id="addMember" action="" method="post" name="newMember">
        <table>
            <tr>
                <td><label for="mailMember1">Mail :</label></td><td colspan="3"><input type="text" name="mailMember1" id="mailMember1"/></td>
            </tr>
            <tr>
                <td><label for="mailMember2"></label></td><td colspan="3"><input type="text" name="mailMember2" id="mailMember2"/></td>
            </tr>
            <tr>
                <td><label for="mailMember3"></label></td><td colspan="3"><input type="text" name="mailMember3" id="mailMember3"/></td>
            </tr>
            <tr>
                <td><label for="mailMember4"></label></td><td colspan="3"><input type="text" name="mailMember4" id="mailMember4"/></td>
            </tr>
            <tr>
                <td><label for="mailMember5"></label></td><td colspan="3"><input type="text" name="mailMember5" id="mailMember5"/></td>
            </tr>
        </table>
    </form>
</div>

<footer class="modal-footer">
    <a href="#" class="btn btn-primary" id="okwin01" onclick="toolBarSubmit('membre', '[project_name]','[project_code]')">Add</a>
</footer>