<div id="formAddTask" class="row">
    <div class="span5 offset2">
        Adresse mail :
        <span id="lastMailMember"><input id="" type="email"  name="mailInvitMember" /><button id="plusMailMember" onclick="javascript:plusMailMember();" class="btn"><i class="icon-plus"></i></button></span>
    </div>
</div>