<!-- first modal window -->
<header class="modal-header">
    <a href="#" class="close" data-dismiss="modal">x</a>
    <h6>Add a Project</h6>
</header>

<div class="modal-body">
    <form id="addProject" action="" method="post" name="newProject">
        <table>
            <tr>
                <td><label for="nameProject">Name :</label></td><td colspan="3"><input type="text" name="nameProject" id="nameProject"/></td><td></td>
            </tr>
            <tr>
                <td><label for="descProject">Description :</label></td><td colspan="3"><textarea name="descProject" id="descProject" rows="3"></textarea></td><td></td>
            </tr>
        </table>
    </form>
</div>

<footer class="modal-footer">
    <a href="#" class="btn btn-primary" id="okwin01" onclick="toolBarSubmit('project', null, null)">Add</a>
</footer>