<!-- first modal window -->
<header class="modal-header">
    <a href="#" class="close" data-dismiss="modal">x</a>
    <h6>Add a Roadmap</h6>
</header>

<div class="modal-body">
    <form id="addRoadmap" action="" method="post" name="newRoadmap">
        <table>
            <tr>
                <td><label for="nameRoadmap">Name :</label></td><td colspan="3"><input type="text" name="nameRoadmap" id="nameRoadmap"/></td>
            </tr>
            <tr>
                <td><label for="descRoadmap">Description :</label><td colspan="3"><textarea name="descRoadmap" id="descRoadmap" rows="5"></textarea></td>
            </tr>
        </table>
    </form>
</div>

<footer class="modal-footer">
    <a href="#" class="btn btn-primary" id="okwin01" onclick="toolBarSubmit('roadmap', '[project_name]','[project_code]')">Create</a>
</footer>