<div  class="row">
    <div id="formAddTask" class="span10 offset1">
        <div>
            Titre: <input type="text" name="titleProject" class="titleInput" id="titleProject" />

                <span>Assigné à : <select class="assignedSelect">
                        <option>A</option>
                        <option>B</option>
                        <option>C</option>
                    </select>
                </span>
        </div>
        <div>
            <span id="padLeft">Type : <select class="typeSelect">
                    <option>A</option>
                    <option>B</option>
                    <option>C</option>
                </select>
            </span>
            <span>Fin espéré : <input type="date" class="deadlineInput" name="vehicle" value="Car">  </span>
            <span id="padLeft">Priorité : <select class="prioritySelect">
                    <option>A</option>
                    <option>B</option>
                    <option>C</option>
                </select>
            </span>
        </div>
        <div>
            <p>Description: <textarea id="descProject" cols="500" rows="5"></textarea></p>
        </div>
    </div>
</div>