<div id="formAddTask" class="row">
    <div class="span5">
        <div>
            <p>Titre: </p>
            <p><input type="text" name="titleProject" class="titleInput" id="titleProject" /></p>
        </div>
            <p>
                <span>Assigné à : <select class="assignedSelect">
                        <option>A</option>
                        <option>B</option>
                        <option>C</option>
                    </select>
                </span>
            </p>
            <p>
                <span>Fin espéré : <input type="date" class="deadlineInput" name="vehicle" value="Car">  </span>
                <span class="padLeft">Priorité : <select class="prioritySelect">
                        <option>A</option>
                        <option>B</option>
                        <option>C</option>
                    </select>
                </span>
            </p>

    </div>
    <div class="span2">

    </div>
    <div class="span5" >
        <div>
            <p>Description: </p>
            <p><textarea id="descProject" cols="500" rows="7"></textarea></p>
        </div>
    </div>
</div>