<div class="row-fluid" >
    <div id="Presentation" class="span10 offset1">
            <div id="imgPresentation" class="span1 offset1">
                <img src="/img/projectPresentation.png" title="projectPresentation" alt="projectPresentation" />
            </div>
            <div id="infoPresentation" class="span7">

                <table>
                    <tr>
                        <td colspan="2" class="infoProjectPresentation_title">Project1</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="infoProjectPresentation_desc" >Description sefpsefosefjpojfs efsf sef se fDescription sefpsefosefjpojfs efsf sef se fDescription sefpsefosefjpojfs efsf sef se fDescription sefpsefosefjpojfs efsf sef se fDescription sefpsefosefjpojfs efsf sef se fDescription sefpsefosefjpojfs efsf sef se fDescription sefpsefosefjpojfs efsf sef se fDescription sefpsefosefjpojfs efsf sef se fDescription sefpsefosefjpojfs efsf sef se fDescription sefpsefosefjpojfs efsf sef se f..</td>
                    </tr>
                    <tr>
                        <td class="infoProjectPresentation_deadline" >Deadline approximative : 16/06/1066</td>
                    </tr>
                </table>
            </div>
    </div>
</div>