<div class="row-fluid" >
    <div id="Presentation" class="span10 offset1">
            <div id="imgPresentation" class="span1 offset1">
                <img src="/img/dashboardPresentation.png" title="dashboardPresentation" alt="dashboardPresentation" />
            </div>
            <div id="infoDashboardPresentation" class="span7">

            </div>
    </div>
</div>