{% extends 'layoutConnect.html.twig' %}

{% block content %}

    <div class="span5 offset6" id="containerInscription">
        <h4>Sign Up : </h4>
        <table cellspacing="10">
            <tr>
                <td class="titleFormConnect">Login :</td>
            </tr>
            <tr>
                <td><input type="text" name="lol" /></td>
            </tr>
            <tr>
                <td class="titleFormConnect">Password :</td>
            </tr>
            <tr>
                <td><input type="text" name="lol" /></td>
            </tr>

            <tr>
                <td class="titleFormConnect">Confirm password :</td>
            </tr>
            <tr>
                <td><input type="text" name="lol" /></td>
            </tr>
            <tr>
                <td class="titleFormConnect">Mail :</td>
            </tr>
            <tr>
                <td><input type="text" name="lol" /></td>
            </tr>
            <tr>
                <td class="btnInscription"><input class="btn" type="submit" name="lol" value="Inscription" /></td>
            </tr>
        </table>
    </div>
{% endblock %}