{% extends 'layout.html.twig' %}

{% block content %}
    <div id="contentLeft" class="span9" >
        <article class="span9 announceHome">
            <h4>{{ entity.announce_title|capitalize }}</h4>
            <p>{{ entity.announce_description|capitalize }}</p>

            <div class="dividerBlock span9"></div>
            <h4>Comments : </h4>
            <p class="pseudoComment pull-left"><a class="linkBlack" href="" >AlexKtf</a></p><p class="pull-left dateComment">&nbsp;- 16/48/4955 16:31</p>
            <div class="clear"></div>
            <p>psoefkposekfposkefôskefosopefsoefkospef</p>
            <p class="pseudoComment pull-left"><a class="linkBlack" href="" >AlexKtf</a></p><p class="pull-left dateComment">&nbsp;- 16/48/4955 16:31</p>
            <div class="clear"></div>
            <p>psoefkposekfposkefôskefosopefsoefkospef</p>
            <p class="pseudoComment pull-left"><a class="linkBlack" href="" >AlexKtf</a></p><p class="pull-left dateComment">&nbsp;- 16/48/4955 16:31</p>
            <div class="clear"></div>
            <p>psoefkposekfposkefôskefosopefsoefkospef</p>


        </article>

    </div>
{% endblock %}