{% extends 'layout.html.twig' %}

{% block contentLeft %}
    <div id="row">
        <h3>Toutes les tâches : </h3>
        <table class="table table-list" >
            <tr>
                <th style="width: 10%;border-top: none">ID</th><th style="width: 20%;border-top: none">Titre</th><th style="width: 50%;border-top: none">Description</th><th style="width: 10%;border-top: none">Deadline</th><th style="width: 10%;border-top: none">Statut</th><th style="width: 10%;border-top: none">Importance</th>
            </tr>
            <tr>
                <td>211</td><td>Première tache</td><td>La tache consiste..</td><td>16/02/5222</td><td><img src="img/assigned.png" title="Assigné" alt="Assigné"></td><td>Urgent</td>
            </tr>
            <tr>
                <td>211</td><td>Première tache</td><td>La tache consiste..</td><td>16/02/5222</td><td><img src="img/cancel.png" title="Annulé" alt="Annulé"></td><td>Urgent</td>
            </tr>
            <tr>
                <td>211</td><td>Première tache</td><td>La tache consiste..</td><td>16/02/5222</td><td><img src="img/working.png" title="En cours" alt="En cours"></i></td><td>Urgent</td>
            </tr>
            <tr>
                <td>211</td><td>Première tache</td><td>La tache consiste..</td><td>16/02/5222</td><td><img src="img/check.png" title="Résolu" alt="Résolu"></td><td>Urgent</td>
            </tr>
            <tr>
                <td>211</td><td>Première tache</td><td>La tache consiste..</td><td>16/02/5222</td><td><img src="img/check.png" title="Résolu" alt="Résolu"></td><td>Urgent</td>
            </tr>
        </table>
    </div>

{% endblock %}


{% block contentRight %}
    <div id="row">
        <h3>Liste des services : </h3>
        <table class="table table-list" >
            <tr style="border: none;">
                <th style="width: 10%;border-top: none">ID</th><th style="width: 30%;border-top: none">Titre</th><th style="width: 20%;border-top: none">Deadline</th><th style="width: 20%;border-top: none">Statut</th><th style="width: 20%;border-top: none">Importance</th>
            </tr>
            <tr>
                <td>211</td><td>Première tache</td><td>16/02/5222</td><td><img src="img/assigned.png" title="Assigné" alt="Assigné"></td><td>Urgent</td>
            </tr>
            <tr>
                <td>211</td><td>Première tache</td><td>16/02/5222</td><td><img src="img/check.png" title="Résolu" alt="Résolu"></td><td>Urgent</td>
            </tr>
            <tr>
                <td>211</td><td>Première tache</td><td>16/02/5222</td><td><img src="img/assigned.png" title="Assigné" alt="Assigné"></td><td>Urgent</td>
            </tr>
            <tr>
                <td>211</td><td>Première tache</td><td>16/02/5222</td><td><img src="img/check.png" title="Résolu" alt="Résolu"></td><td>Urgent</td>
            </tr>
            <tr>
                <td>211</td><td>Première tache</td><td>16/02/5222</td><td><img src="img/check.png" title="Résolu" alt="Résolu"></td><td>Urgent</td>
            </tr>
        </table>
    </div>
{% endblock %}