{% extends 'layout.html.twig' %}

{% block content %}
    Modifier ses infos
    <div class="span12">
        <label class="control-label" for="login">Login</label>
        <input type="text" name="login" value="{{ User.user_login }}"/>
        <label class="control-label" for="mail">Adresse mail</label>
        <input type="text" name="mail" value="{{ User.user_mail }}"/>
    </div>
    <form>
    </form>
{% endblock %}