{% extends 'layout.html.twig' %}

{% block content %}
<h3 style="margin-bottom: 20px">Modifier ses infos</h3>
    <form>
    <div class="span12">
        <table>
            <tr>
                <td>
                    <label class="control-label" for="login">Login</label>
                </td>
                <td>
                    <input id="login" type="text" name="login" value="{{ User.user_login }}"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="control-label" for="mail">Adresse mail</label>
                </td>
                <td>
                    <input id="mail" type="text" name="mail" value="{{ User.user_mail }}"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="control-label" for="mail">Mot de passe</label>
                </td>
                <td>
                    <input id="mail" type="text" name="mail" value="{{ User.user_mail }}"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="control-label" for="mail">Adresse mail</label>
                </td>
                <td>
                    <input id="mail" type="text" name="mail" value="{{ User.user_mail }}"/>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="button" class="btn btn-primary" value="Modifier"/>
                </td>
                <td>
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                </td>
            </tr>
        </table>
        
        
        
        
        
    </div>
    <form>
    </form>
{% endblock %}